/*/Overwriting bootstripped navigation/*/
body {
	margin:0;
}

.container {
	margin-top:20px;
}

.nav {
	margin-top:0px;
}

.nav > li > a {
	-webkit-transition:background 80ms linear;
   	-moz-transition:background 80ms linear;
   	-o-transition:background 80ms linear;
   	transition:background 80ms linear;
  	text-align:center;
	margin: 0 auto 9px;
	padding: 9px 0;
	background:#09f;
	color:white;
	display:block;
	font-weight: bold;
	font-size:18px;
}

.nav > li > a:hover {
  	text-decoration: none;
  	color:#fff;
  	background-color: #0085dd;
}

.nav > li.active a {
  	text-decoration: none;
  	color:#ff0;
  	background-color: #0085dd;
}

.mod {
     float: left;
     height: 296px;
     width: 330px;
     overflow: hidden;
     box-sizing: border-box;
     border-radius: 3px;
     border: 1px solid #ddd;
     background-color: #fff;
     margin-bottom: 20px;
     border-bottom: 0px;
     margin-left: 10px;
}

#github-activity {
     overflow: scroll;
}

#github-module {

}

#analytics {
     border-radius: 3px;
     border: 1px solid #ddd;
     text-align: center;
}

.action {
     margin: 0;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     border-bottom: 1px solid #ddd;
     padding: 10px;
     line-height: 100%;
}

#recent-activity {
     margin: 0;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     border-bottom: 1px solid #ddd;
     padding: 10px;
     line-height: 100%;
     background: #f7f7f7;
}

.action > a {
     color: #0085dd;
     font-weight: bold;
}

#content {
     width: 100%;
     height: 400px;
     box-sizing: border-box;
     border-radius: 3px;
     border: 1px solid #ddd;
     text-align: center;
     margin-left: 10px;
}

#dashboard {
     clear: both;
     height: 490px;
     width: 100%;
}

.cam {
     width: 100%;
     height: auto;
     text-align: center;
     border: 1px solid #0085dd;
}

.row {
     margin-left: 0px;
}