/*/Overwriting bootstripped navigation/*/
body {
	margin:0;
}

.container {
	margin-top:20px;
}

.nav {
	margin-top:0px;
}

.nav > li > a {
	-webkit-transition:background 80ms linear;
   	-moz-transition:background 80ms linear;
   	-o-transition:background 80ms linear;
   	transition:background 80ms linear;
  	text-align:center;
	margin: 0 auto 9px;
	padding: 9px 0;
	background:#09f;
	color:white;
	display:block;
	font-weight: bold;
	font-size:18px;
}

.nav > li > a:hover {
  	text-decoration: none;
  	color:#fff;
  	background-color: #0085dd;
}

.nav > li.active a {
  	text-decoration: none;
  	color:#ff0;
  	background-color: #0085dd;
}

.mod {
     float: left;
     height: 296px;
     width: 330px;
     overflow: hidden;
     box-sizing: border-box;
     border-radius: 3px;
     border: 1px solid #ddd;
     background-color: #fff;
     margin-bottom: 20px;
     margin-left: 10px;
}

.activity_box {
     overflow: scroll;
     height : 260px;
}

#github-module {

}

#analytics {
     border-radius: 3px;
     border: 1px solid #ddd;

}

.activity {
     margin: 0;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     border-bottom: 1px solid #ddd;
     padding: 10px;
     line-height: 100%;
}

#title {
     margin: 0;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     border-bottom: 1px solid #ddd;
     padding: 6px;
     line-height: 100%;
     background: #f7f7f7;
}

#recent-activity > h3 {
     font-size: 10pt;
}
.activity > a.item {
     color: #fff;
     background-color: #0085dd;
     font-weight: bold;
      border-radius: 3px;
     padding:1px 3px;
}

.activity > a.item:hover {
     color: #fff;
     background-color: #005288;
}

.activity > a {
     color: #0085dd;
     font-weight: bold;
}

.activity > a:hover {
     color:#005288;
     font-weight: bold;
}

#content {
     width: 100%;
     height: 400px;
     box-sizing: border-box;
     border-radius: 3px;
     border: 1px solid #ddd;
     text-align: center;
     margin-left: 10px;
}

#dashboard {
     clear: both;
     height: 540px;
     width: 100%;
     min-width: 1020px;
}

.cam {
     width: 100%;
     height: auto;
     text-align: center;
     border: 1px solid #0085dd;
}

#shoe_cam {
    height: 177px;
    width: 1002px;
}

#shoe_cam_image {
    margin-top:-80px;
}

#scrum_graph {
     border: 0px;
}

.row {
     margin-left: 0px;
}

#scrum_graph {
     height : 40px;
     overflow : visible;
     margin: 0px;
     background:rgba(255,255,255,0.0);
     width: auto;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.day {
  fill: #fff;
  stroke: #ccc;
  width: 30px;
  height: 30px;
  float: left;
  margin: 4px;
  border-radius: 30px;
}

#graph_wrapper {
    overflow-x: scroll;
    width: 100%;
    z-index:-1;
    height: 40px;
}

.activity > a.count {
    color: #fff;
     background-color: #0085dd;
     font-weight: bold;
      border-radius: 3px;
     padding:1px 3px;
     margin-left:3px;
}

.cap_text {
    margin-top: -40px;
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
}